<div class="dashboard-container">
    <!-- Barra lateral izquierda -->
    <div class="sidebar">
        <img src="images/marca.jpg" alt="Marca" class="logo">
        <ul class="menu">
            <li><a (click)="crearProyecto()">Crear Proyecto</a></li>
            <li><a (click)="editarProyecto()">Editar Proyecto</a></li>
            <li><a (click)="historial()">Historial</a></li>
            <li><a (click)="editarUsuario()">Editar Usuario</a></li>
            <li><a (click)="verEventos()">Ver Eventos</a></li>
            <li *ngIf="!isMentor"><a (click)="sesiones()">Sesiones Pendientes</a></li>
            <li><a (click)="cerrarSesion()">Cerrar sesión</a></li>
        </ul>
    </div>
    
    <!-- Contenido principal a la derecha -->
    <div class="main-content">
        <h1 class="title">Proyectos</h1>
        
        <div class="filter-section">
            <p class="filter-text">Filtrar</p>
            <select id="filterDropdown" (change)="onFilterChange($event)">
              <option value="nombre">Nombre</option>
              <option value="categoria">Categoría</option>
              <option value="objetivoFinanciacion">Objetivo</option>
              <option value="monto">Recaudado</option>
            </select>
        </div>

        <!-- Sección de proyectos -->
        <div class="projects-container">
            <div *ngFor="let proyecto of proyectos" class="project-card">
                <img [src]="proyecto.imagen" alt="Imagen del proyecto" class="project-image">
                <h3 class="project-title">{{ proyecto.nombre }}</h3>
                <p><strong>Categoría:</strong> {{ proyecto.categoria }}</p>
                <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
                <p><strong>Fecha Límite:</strong> {{ proyecto.fechaLimite }}</p>
                <p><strong>Monto:</strong> ${{ proyecto.monto }}</p>
                <p><strong>Objetivo de Financiación:</strong> ${{ proyecto.objetivoFinanciacion }}</p>
                <button (click)="verProyecto(proyecto)">Ver Proyecto</button>
            </div>
        </div>

        <!-- Botón para ir a la página de mentor -->
        <div class="mentor-button">
            <button *ngIf="isMentor" (click)="irAPaginaMentor()">Ir a Página Mentor</button>
        </div>
    </div>
</div>
