<div class="dashboard-container">
    <div class="main-content">
        <!-- Sección de logo y título -->
        <div class="header-section">
            <img src="images/marca.jpg" alt="Marca" class="center-logo">
            <h2 class="title">Historial Donaciones</h2>
        </div>
        <span (click)="cambiarPantalla()" id="backArrow">←</span>

        <!-- Cuadro de texto estático debajo del título -->
        <div class="static-text-box">
            <p>Este es el historial de donaciones realizadas.</p>
        </div>

        <!-- Tabla para mostrar las donaciones -->
        <div class="donations-table">
            <table>
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Donante</th>
                        <th>Monto donado</th>
                        <th>Teléfono</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let donacion of donaciones">
                        <td>{{ donacion.nombreProyecto }}</td>
                        <td>{{ donacion.nombreDonante }}</td>
                        <td>${{ donacion.monto }}</td>
                        <td>{{ donacion.telefono }}</td>
                        <td>{{ donacion.fechaDonacion | date:'dd/MM/yyyy, h:mm:ss a' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
