<div class="register-container">
    <div class="header">
        <span (click)="cambiarPantalla()" id="backArrow">←</span>
        <img src="images/marca.png" alt="Marca" class="logo">
    </div>
    <form [formGroup]="document" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="fullName">Nombre completo:</label>
            <input type="text" id="fullName" formControlName="fullName" required>
        </div>
        <div class="form-group">
            <label for="idNumber">Cédula:</label>
            <input type="number" id="idNumber" formControlName="idNumber" required>
        </div>
        <div class="form-group">
            <label for="regEmail">Correo:</label>
            <input type="email" id="regEmail" formControlName="regEmail" required>
        </div>
        <div *ngIf="emailError">
            <p class="error-message">{{ emailError }}</p>
        </div>        
        <div class="form-group">
            <label for="workArea">Área de Trabajo:</label>
            <input type="text" id="workArea" formControlName="workArea" required>
        </div>
        <div class="form-group">
            <label for="initialAmount">Cantidad Inicial de Dinero:</label>
            <input type="number" id="initialAmount" formControlName="initialAmount" required>
        </div>
        <div *ngIf="document.get('initialAmount')?.hasError('invalidAmount') && document.get('initialAmount')?.touched">
            El monto inicial debe ser un número positivo.
          </div>
        <div class="form-group">
            <label for="phone">Teléfono:</label>
            <input type="number" id="phone" formControlName="phone" required>
        </div>
        <div class="form-group">
            <label for="regPassword">Contraseña:</label>
            <input type="password" id="regPassword" formControlName="regPassword" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmación de contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        </div>
        <div *ngIf="passwordError">
            {{ passwordError }}
        </div>
        <button type="submit" >Registrarse</button>
    </form>
</div>
